@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply ring-0 shadow-none;
  }

  a {
    @apply underline decoration-primary-300 text-primary-300;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
